---
layout: default
bodyClass: "page-events"
---
<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }} <!-- General description or introduction -->
      </div>
    </div>
  </div>
</div>

{% assign current_time = site.time | date: '%s' %}
{% assign current_time = current_time| plus: 0 %}
<div class="container pt-6 pb-6">
  <h2>Upcoming Events</h2>
  <div class="row">
    {% for event in site.events %}
      {% assign event_timestamp = event.date | date: '%s' %}
      {% assign next_day_timestamp = event_timestamp | plus: 86400 %}

      {% if next_day_timestamp >= current_time %}
        <div class="col-12 col-md-6 mb-3">
          <div class="event event-summary d-flex">
            <div class="event-image mr-3">
              <img src="{{ event.image | relative_url }}" alt="{{ event.title }} image" style="width: 100px; height: 100px;">
            </div>
            <div class="event-content">
              <h3 class="event-title">
                <a href="{{ event.url | relative_url }}">{{ event.title }}</a>
              </h3>
              <p class="event-date">
                {{ event.date | date: "%B %d, %Y" }}
                {% assign time_part = event.date | date: '%H:%M' %}
                {% if time_part != '00:00' %}
                  at {{ time_part }}
                {% endif %}
                {% assign time_zone_part = event.date | split: 'T' %}
                {% if time_zone_part.size > 1 %}
                  {% assign time_zone = time_zone_part.last | split: '+' %}
                  {% if time_zone.size > 1 %}
                    ({{ time_zone.last }})
                  {% endif %}
                {% endif %}
              </p>
              <p>{{ event.description | markdownify | strip_html | truncate: 150 }}</p>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <h2>Past Events</h2>
  <div class="row">
    {% for event in site.events %}
      {% assign event_timestamp = event.date | date: '%s' %}
      {% assign next_day_timestamp = event_timestamp | plus: 86400 %}

      {% if next_day_timestamp < current_time %}
        <div class="col-12 col-md-6 mb-3">
          <div class="event event-summary d-flex">
            <div class="event-image mr-3">
              <img src="{{ event.image | relative_url }}" alt="{{ event.title }} image" style="width: 100px; height: 100px;">
            </div>
            <div class="event-content">
              <h3 class="event-title">
                <a href="{{ event.url | relative_url }}">{{ event.title }}</a>
              </h3>
              <p class="event-date">
                {{ event.date | date: "%B %d, %Y" }}
                {% assign time_part = event.date | date: '%H:%M' %}
                {% if time_part != '00:00' %}
                  at {{ time_part }}
                {% endif %}
                {% assign time_zone_part = event.date | split: 'T' %}
                {% if time_zone_part.size > 1 %}
                  {% assign time_zone = time_zone_part.last | split: '+' %}
                  {% if time_zone.size > 1 %}
                    ({{ time_zone.last }})
                  {% endif %}
                {% endif %}
              </p>
              <p>{{ event.description | markdownify | strip_html | truncate: 150 }}</p>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
